<div id="<%= dom_id book %>">
  <p>
    <strong>Person:</strong>
    <%= book.person.name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= book.isbn %>
  </p>

  <p>
    <strong>Libraries:</strong>
    <% book.libraries.each do |library| %>
      <li><%= library.name %></li>
    <% end %>
  </p>

</div>
